.list-group{
    display: inline-grid;
    width: 100%;
    font-size: 1rem;
}

.list-group__item{
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border: 1px solid rgba(0,0,0,.2);
}

li.last-group__item:last-child{
    padding-right: 0;
}